::-webkit-scrollbar {
  display: none;
}
.container {
  min-height: 100vh;
  text-align: center;
  color: black;
  font-weight: 700;
}
.title {
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.img {
  size: 100%;
  height: 60vh;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.project {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 10%;
  gap: 40px;
}
.info {
  width: 800px;
  max-width: 100%;
  height: 500px;
}
.projectTitle {
  font-size: clamp(20px, 3.5vh, 4vh);
  margin-block-start: 0em; /* Ressetting defaults*/
  margin-block-end: 0em; /* Ressetting defaults*/
  min-height: 10%;
  height: fit-content;
}
.descriptionContainer {
  padding: 0 5%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}
.projectDescription {
  font-size: clamp(12px, 1rem, 1.5rem);
  text-align: left;
  font-weight: 400;
}
.ss img {
  size: 100%;
  max-width: 800px;
}
.actions {
  height: 10%;
  display: flex;
  align-items: flex-end;
  padding: 0 5%;
}
.btn {
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  height: fit-content;
  font-weight: 500;
  color: #01c0ad;
  padding: 10px 20px;
}
.live {
  border: 2px solid #01c0ad;
}

@media only screen and (max-width: 1000px) {
  .project {
    flex-direction: column;
    text-align: left;
  }
  .ss img {
    size: 100%;
    width: 100%;
    height: auto;
  }
  .btn {
    font-size: clamp(12px, 1rem, 1rem);
  }
  .descriptionContainer {
    justify-content: flex-start;
    padding: 0;
    height: auto;
  }
  .info {
    height: auto;
    width: 100%;
  }
  .actions {
    padding: 0;
  }
  img {
    width: 100%;
    height: 60vh;
  }
}
